.header_flex {
    display: flex;
  }
  
  .frame-13,
  .frame-13 * {
    box-sizing: border-box;
  }
  
  .frame-13 {
    height: 100px;
    position: relative;
  }
  
  .frame1{
    width: 1011px;
    position: absolute;
  }
  
  .image{
    width: 210px;
    height: 54px;
    position: absolute;
    left: 3px;
    top: 15px;
  }
  
  .ndear-vidya-samiksha-kendra {
    color: #ffffff;
    text-align: left;
    font: 400 20px "Inter", sans-serif;
    position: absolute;
    left: 233px;
    top: 30px;
  }
  
  .program{
    color: #ffffff;
    text-align: left;
    font: 400 20px "Inter", sans-serif;
    position: absolute;
    top: 96px;
    bottom: 96px;
  }
  
  .rectangle-7 {
    background: #fcfdff;
    border-radius: 29px;
    width: 174px;
    height: 159px;
    position: absolute;
    left: 26px;
    top: 126px;
  }
  